.custom-background {
    background-color: #cecfcf; /* Color de fondo claro */
    padding: 20px;             /* Añadir padding para separar el contenido del borde */
    border-radius: 8px;         /* Opcional: bordes redondeados */
  }
  